* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 250, 250);
  font-family: "Roboto", sans-serif;
  color: #262626;
}

ion-icon {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #262626;
}

.link:hover {
  opacity: 0.7;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #DBDBDB;
  width: 100%;
  height: 54px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.headerContainer {
  display: flex;
  align-items: center;
  width: 935px;
  height: 54px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  width: 30%;
  height: 30px;
}

.icone {
  color: black;
  font-size: 22px;
  padding-right: 10px;
  border-right: 1px solid #DBDBDB;
}

.logo div:last-child {
  padding: 5px 0 0 10px;
}

.pesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 30px;
}

.campoBusca {
  background-color: #FAFAFA;
  width: 215px;
  height: 28px;
  text-align: center;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
}

.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 30%;
  height: 30px;
}

.nav .iconsNav {
  display: flex;
  align-items: center;
  font-size: 22px;
  padding: 0 5px;
}

.nav .iconsNav:nth-child(4) {
  padding-right: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 935px;
  margin: 88px auto 0;
}

.stories {
  background-color: #ffffff;
  display: flex;
  width: 614px;
  height: 118px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.perfilStorie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 59px;
  margin: 23px 0 14px 23px;
}

.caixaImg {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 50%;
  padding: 1px;
}

.imgStories {
  width: 56px;
  height: 56px;
  border: 1px solid white;
  border-radius: 50%;
}

.nomeStories {
  width: 58px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin-top: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.forwardStories {
  font-size: 32px;
  position: absolute;
  top: 43px;
  right: 6px;
  color: rgba(0, 0, 0,0.25);
}

.posts {
  display: flex;
  flex-direction: column;
  width: 614px;
  margin-top: 24px;
}

.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  border: 1px solid #DBDBDB;
}

.headerPost {
  display: flex;
  align-items: center;
  height: 60px;
}

.caixaImgPost {
  padding: 15px 15px 13px 17px;
}

.caixaImgPost img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.nomePost {
  width: 517px;
}

.nomePost p {
  font-size: 14px;
  font-weight: 500;
  display: inline;
}

.ellipsisPost {
  display: flex;
  align-items: center;
  width: 33px;
}

.imgPost img{
  width: 100%;
  height: 612px;
}

.footerPost {
  display: flex;
  flex-direction: column;
}

.caixaIconPost {
  display: flex;
  width: 100%;
  padding: 10px 4px 10px 15px;
}

.caixaIconPost ion-icon {
  font-size: 22px;
  padding-right: 13px;
}

.caixaIconPost ion-icon:last-child {
  margin-left: auto;
}

.curtidas {
  display: flex;
  padding: 0 17px 14px;
}

.curtidas img {
  width: 20px;
  border-radius: 50%;
  padding-right: 5px;
}

.curtidas p {
  font-size: 14px;
  font-weight: 300;
}

.curtidas p span {
  font-weight: 500;
}

.sidebar {
  width: 293px;
}

.perfil {
  display: flex;
  align-items: center;
  padding-top: 28px;
}

.fotoPerfil img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 17px;
}

.nomePerfil p {
  font-size: 14px;
  font-weight: 500;
}

.nomePerfil span {
  color: #8E8E8E;
  font-size: 14px;
  font-weight: 300;
}

.sugestoes {
  display: flex;
  flex-direction: column;
}

.headerSugestoes {
  display: flex;
  justify-content: space-between;
  margin: 22px 0 17px;
}

.headerSugestoes p {
  font-size: 12px;
  font-weight: 500;
}

.headerSugestoes .sug {
  color: #8E8E8E;
}

.caixaSugestoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.perfilSugestoes{
  display: flex;
  align-items: center;
}

.fotoPerfilSugestoes img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 11px;
}

.nomePerfilSugestoes p {
  font-size: 14px;
  font-size: 500;
}

.nomePerfilSugestoes span {
  font-size: 12px;
  font-size: 400;
  color: #8E8E8E;
}

.seguirSugestoes p {
  font-size: 12px;
  font-weight: 500;
  color: #139EF2;
}

.footerSidebar p {
  font-size: 11px;
  font-weight: 400;
  color: #c7c7c7;
  margin-top: 17px;
}

.mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mobile .icone {
  display: flex;
  align-items: center;
  font-size: 22px;
  border: none;
}

.mobile img {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.mobile ion-icon {
  display: flex;
  align-items: center;
  font-size: 22px;
}

.mobileFooter {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 19px;
  width: 100%;
  height: 54px;
  background-color: #ffffff;
  border:  1px solid #DBDBDB;
  position: fixed;
  bottom: 0;
  left: 0;
}

.mobileFooter ion-icon {
  font-size: 22px;
}

@media (max-width: 935px) {
  .headerContainer {
    width: 100%;
    padding: 0 15px 0 20px;
  }

  .container {
    justify-content: center;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 614px) {
  .mobile-close {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .container {
    width: 100%;
    margin-top: 54px;
  }

  .stories {
    background-color: transparent;
    border: none;
  }

  .stories .forwardStories {
    display: none;
  }

  .posts {
    margin-top: 4px;
  }

  .mobileFooter {
    display: flex;
  }
}