* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #262626;
}

.link {
  text-decoration: none;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #DBDBDB;
  width: 100%;
  height: 54px;
  position: fixed;
  top: 0;
  left: 0;
}

.headerContainer {
  display: flex;
  align-items: center;
  width: 935px;
  height: 54px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  width: 30%;
  height: 30px;
}

.icone {
  color: black;
  font-size: 22px;
  padding-right: 10px;
  border-right: 1px solid #DBDBDB;
}

.logo div:last-child {
  padding: 5px 0 0 10px;
}

.pesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 30px;
}

.campoBusca {
  background-color: #FAFAFA;
  width: 215px;
  height: 28px;
  text-align: center;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
}

.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 30%;
  height: 30px;
}

.nav .iconsNav {
  display: flex;
  align-items: center;
  color: black;
  font-size: 22px;
  padding: 0 5px;
}

.nav .iconsNav:nth-child(4) {
  padding-right: 0;
}

.container {
  /* background-color: blue; */
  width: 935px;
  margin: 54px auto 0;

  min-height: 100vh;
}

.stories {
  display: flex;
  width: 614px;
  height: 118px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  margin-top: 88px;
  position: relative;
}

.perfilStorie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 59px;
  margin: 23px 0 14px 23px;
}

.caixaImg {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 50%;
  padding: 1px;
}

.imgStories {
  width: 56px;
  height: 56px;
  border: 1px solid white;
  border-radius: 50%;
}

.nomeStories {
  width: 58px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin-top: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.forwardStories {
  font-size: 32px;
  position: absolute;
  top: 43px;
  right: 6px;
  color: rgba(0, 0, 0,0.25);
}